{{#extends "base"}}

{{#block "title"}}Edit Property Listing{{/block}}

{{#block "content"}}
<h1>Edit Property Listing</h1>
<form method="POST">
   <!--<div class="mb-3">
        <label>User ID</label>
        <select name="userID" class="form-control">
            {{#each userdetail1}}
            <option value="{{userID}}" 
                {{#eq userID  ../userId.userID}} selected {{/eq}}
             >{{name}}</option>
            {{/each}}
        </select>
    </div> -->
    <div class="mb-3">
        <label>Name of Property</label>
        <input type="text" 
               class="form-control" 
               name="nameofProperty"
               value="{{propertydetail1.nameofProperty}}"/>
    </div>
    <div class="mb-3">
        <label>Address</label>
        <input type="text" 
               class="form-control" 
               name="address"
               value="{{propertydetail1.address}}"
               />
    </div>
    <div class="mb-3">
        <label>Postal Code</label>
        <input type="text" 
               class="form-control" 
               name="postalCode"
               value="{{propertydetail1.postalCode}}"
               />
    </div>
        <div class="mb-3">
        <label>Number of Bedrooms</label>
        <input type="number" 
               class="form-control" 
               name="numberofBedrooms"
               value="{{propertydetail1.numberofBedrooms}}"
               />
    </div>
    <div class="mb-3">
        <label>Number of Bathrooms</label>
        <input type="number" 
               class="form-control" 
               name="numberofBathrooms"
               value="{{propertydetail1.numberofBathrooms}}"
               />
    </div>
    <div class="mb-3">
        <label>Number of Car Park Lots</label>
        <input type="number" 
               class="form-control" 
               name="carparkLots"
               value="{{propertydetail1.carparkLots}}"
               />
    </div>
    <div class="mb-3">
        <label>Amenities</label>
        <input type="text" 
               class="form-control" 
               name="amenities"
               value="{{propertydetail1.amenities}}"
               />
    </div>
        <div class="mb-3">
        <label>Asking BaseRent</label>
        <input type="number" 
               class="form-control" 
               name="askingBaseRent"
               value="{{propertydetail1.askingBaseRent}}"
               />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>
{{/block}}

{{/extends}}