{{#extends "base"}}
{{#block "content"}}
<h1>Property Details</h1>
<table class="table">
    <tr>
        <th>Property ID</th>
        <th>Name of Property</th>
        <th>Address</th>
        <th>Postal Code</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Carparklots</th>
        <th>Amenities</th>
        <th>Asking BaseRent in RM</th>
    </tr>
    {{#each propertydetail}}
    <tr>
        <td>{{propertyID}}</td>
        <td>{{nameofProperty}}</td>
        <td>{{address}}</td>
        <td>{{postalCode}}</td>
        <td>{{numberofBedrooms}}</td>
        <td>{{numberofBathrooms}}</td>
        <td>{{carparkLots}}</td>
        <td>{{amenities}}</td>
        <td>{{askingBaseRent}}</td>
        <td>
            <a href="/propertydetail/{{propertyID}}/edit" class="btn btn-primary btn-sm">Edit</a>
            <a href="/propertydetail/{{propertyID}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
            <a href="/propertydetail/{{propertyID}}/create" class="btn btn-danger btn-sm">Create New Property Listing</a>
</table>
{{/block}}
{{/extends}}