{{#extends "base"}}
{{#block "content"}}

<h1>Sample Search Data</h1>
<table class="table">
    <tr><th><u>User Details</u></th>><th></th><th></th><th><u>Tenancy Details</u></th><th></th><th><u>Name of Property</u></th></tr>
    <tr>
        <th>User_Details_userID</th>
        <th>Type of User</th>
        <th>FullName</th>
        <th>Tenancy_Details_userID</th>
        <th>Date Started</th>
        <th>Property Name</th>
        <th>Address</th>
        <th>Postal Code</th>
    </tr>

        {{#each search}}

    <tr>
        <td>{{User_Details_userID}}</td>
        <td>{{typeofUser}}</td>
        <td>{{fullName}}</td>
        <td>{{Tenancy_Details_userID}}</td>
        <td>{{date_started}}</td>
        <td>{{nameofProperty}}</td>
        <td>{{address}}</td>
        <td>{{postalCode}}</td>
    </tr>
        {{/each}}
</table>
    <div class="container">
        <div class="section" id="income-chart">
            <h2>Net Income Chart</h2>
            <canvas id="incomeChart"></canvas>
        </div>
    </div>    
            <script src="chart.js"></script>

{{/block}}
{{/extends}}