{{#extends "base"}}
{{#block "content"}}
<h1>Tenancy Details</h1>
<table class="table">
    <tr>
        <th>Tenancy ID</th>
        <th>Date Started</th>
        <th>Duration of Tenancy in Months</th>
        <th>Base Rental Amount in RM</th>
        <th>Deposit Amount</th>
        <th>Subtenants Fullnames</th>
        <th>Property ID</th>
        <th>User ID</th>
        <th></th>
    </tr>
    {{#each tenancydetail}}
    <tr>
        <td>{{tenancyID}}</td>
        <td>{{date_started}}</td>
        <td>{{durationofTenancy}}</td>
        <td>{{baserentalAmount}}</td>
        <td>{{depositAmount}}</td>
        <td>{{subtenantsFullName}}</td>
        <td>{{propertyID}}</td>
        <td>{{userID}}</td>
        <td>
            <a href="/tenancydetail/{{tenancyID}}/edit" class="btn btn-primary btn-sm">Edit</a>
            <a href="/tenancydetail/{{tenancyID}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>

    {{/each}}
        <a href="/tenancydetail/{{tenancyID}}/create" class="btn btn-danger btn-sm">Create New Tenancy Record</a>
</table>
{{/block}}
{{/extends}}