{{#extends "base"}}

{{#block "title"}}Edit New User{{/block}}

{{#block "content"}}
<h1>Edit New User</h1>
<form method="POST">
    <div class="mb-3">
        <label>Type of User</label>
        <input type="text" 
               class="form-control" 
               name="typeofUser"
               value="{{userdetail.typeofUser}}"/>
    </div>
    <div class="mb-3">
        <label>FullName</label>
        <input type="text" 
               class="form-control" 
               name="fullName"
               value="{{userdetail.fullName}}"
               />
    </div>
    <div class="mb-3">
        <label>Contact Number</label>
        <input type="text" 
               class="form-control" 
               name="contactNumber"
               value="{{userdetail.contactNumber}}"
               />
    </div>
        <div class="mb-3">
        <label>Email</label>
        <input type="text" 
               class="form-control" 
               name="email"
               value="{{userdetail.email}}"
               />
    </div>
   <!-- <div class="mb-3">
        <label>Company</label>
        <select name="company_id" class="form-control">
            {{#each companies}}
            <option value="{{company_id}}" 
                {{#eq company_id  ../customer.company_id}} selected {{/eq}}
             >{{name}}</option>
            {{/each}}
        </select>
    </div> -->
    <button class="btn btn-primary">Submit</button>
</form>
{{/block}}

{{/extends}}